.categoryMenu {
  position: relative;
  width: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  position: relative;
  padding: 0 50px; 
}

.category {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; 
  font-weight: 600;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap; 
}

.category:hover {
  color: #007bff;
}

.slider {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #007bff;
  border-radius: 4px;
}

.boxCategoryContent {
  position: absolute;
  border-top: 1px solid #e7e6e6;
  top: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  padding: 20px 20px 0; 
}


@media (max-width: 425px) {
  .categories {
    flex-direction: column; 
    padding: 10px; 
    gap: 10px; 
  }

  .category {
    font-size: 13px; 
    padding: 8px 0; 
  }

  .boxCategoryContent {
    padding: 10px; 
  }
}
